.contacts {
  height: calc(100vh - 60px);
  //margin-top: 60px;
  overflow-y: auto;
}
.contacts-card {
  height: 60px;
  padding: 15px 20px;
  border-bottom: 1px solid $dark_color;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:last-child {
        margin-top: 6px;
      }

      &:empty {
        display: none;
      }
    }
  }

  &:hover {
    background: #f1f1f1;
  }
}

.contacts-card__user-name {

  @include font-style($dark_color, 16px, 16px, 700);
}

.contacts-card__status {

  display: flex;
  align-items: center;
  justify-content: flex-end;

  svg {
    width: 20px;
    height: 20px;
  }

  .status_online {
    svg g path {
      fill: $green_color;
    }
  }

  .status_offline {
    svg g path {
      fill: $red_color;
    }
  }
}

.contacts-card__last-message,
.contacts-card__time-last-message {
  @include font-style(#bbb, 12px, 12px, 400);
}

.contacts-card__last-message {
  max-width: 210px;
  height: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.contacts-card__time-last-message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 5px;
  min-width: 87px;
}

@media (min-width: $pc) {
  .contacts {
    border-left: 1px solid $dark_color;
  }

  .contacts.hide {
    display: block;
  }
  .contacts-card__user-name_in-header {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}


