.contacts-wrap {
  min-height: 92vh;
  width: 100%;
  overflow: auto;
  box-shadow: 0 4px 16px #ccc;
}

.contacts-card {
  display: grid;
  grid-template: "avatar           user-name           time-last-message      status" 1fr "avatar           last-message        time-last-message      status" 1fr
								/ 	15% 60% 20% 5%;

  width: 100%;
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: $bgContactsCard;
  @include borderContactsCard;

  &:hover {
    transform: scale(1.02);
    border-top: 1px solid darkgrey;
  }
}

.contacts-card-avatar {
  grid-area: avatar;
}

.contacts-card-avatar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-right: 2px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border-radius: 50%;
  background: $bgMain;
  font-family: "La Belle Aurore", cursive;
  color: #FFFFFF;
  font-size: $L_FontSize;
}

.contacts-card__user-name {
  grid-area: user-name;
  @include fontSize($L_FontSize, $mainFontFamily, #361617, $fontW: bold);
}

.contacts-card__last-message {
  grid-area: last-message;
  text-overflow: ellipsis;
  @include fontSize($S_FontSize, $cursiveFontFamily, black, $fontW: italic);
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
}

.contacts-card__status {
  grid-area: status;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .status_online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3fbb3e;
  }

  .status_offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
  }
}

.contacts-card__time-last-message {
  grid-area: time-last-message;
  min-width: 60px;
  max-width: 110px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  @include fontSize(0.6rem, $secondFontFamily);
}

@media (min-width: $pc) {
  .contacts {
    overflow-x: hidden;
    width: 40%;
    max-width: 1200px;
  }
  .contacts-card {
    &:hover {
      cursor: pointer;
    }
  }
  .contacts.hide {
    display: block;
  }
  .contacts-card__time-last-message {
    width: 96px;
    padding-left: 10px;
  }
}
