.header {
  height: 60px;
  display: grid;
  grid-gap: 15px;
  padding: 10px;
  grid-template-columns: 1fr auto;
  background: #fff;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    height: 2px;
    bottom: -1px;
    left: 0;
    width: 100%;
    background: $dark_color;
    z-index: 2;
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

.btn-come-back {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 30px;

  svg {
    width: 15px;
    height: 15px;
  }
}
.btn-come-back.hide {
  display: none;
}

.header-kitty {
  height: 100%;
  width: auto;
  margin-right: 20px;

  &-wrap {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;

    &.hide {
      display: none;
    }
  }
}

.header__chat-name {
  margin: 0;
  @include font-style($dark_color, $L_FontSize, 1, 600);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  span {
    @include font-style($red_color, 13px, 13px, 400);
    text-transform: none;
    font-style: italic;
    display: block;
    margin-top: 5px;
  }

  &.hide {
    display: block;
  }
}

.header-user-wrap {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-avatar_wrap {
  margin-right: 10px;
}

.header__status {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 20px;
    height: 20px;
  }

  .status_online {
    svg g path {
      fill: $green_color;
    }
  }

  .status_offline {
    svg g path {
      fill: $red_color;
    }
  }
  &.hide {
    display: none;
  }
}

.contacts-card__user-name_in-header {
  @include font-style($dark_color, 16px, 16px, 600);
  margin-left: 10px;
}


@media (min-width: $pc) {
  .header {
    grid-template-columns: 7fr 10fr;
    grid-gap: 26px;
    align-items: center;
    background: #efefef;
  }
  .btn-come-back {
    display: none;
  }
  .header-kitty {
    margin-left: 20px;

    &-wrap.hide {
      display: flex;
    }
  }
  .header-avatar_wrap {
    margin-right: 15px;
  }
}

