@mixin fontSize($fontSize, $fontFamily, $color: black, $fontW: normal) { //
  font-size: $fontSize;
  font-family: $fontFamily;
  font-weight: $fontW;
  color: $color;
}

@mixin borderContactsCard($color: darkgrey) {
  border-bottom: 1px solid $color;
}

@mixin userStatus($color) {
  width: 8px;
  height: 8px;

  border-radius: 50%;
  background: $color;
}