.authorisation {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bgMain;
  overflow: hidden;
}

.sign-in-up-form {
  position: relative;
  height: 480px;
  width: 380px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #ccc;
  font-family: sans-serif;
  letter-spacing: 1px;
  background-color: #fff;
  opacity: 0.9;
  overflow: hidden;
}

.form-tabs {
  width: 240px;
  margin: 55px auto;
  position: relative;

  border-radius: 30px;
  background: #ffffff;
  border: solid 0.5px rgba(91, 128, 93, 0.73);

  &:hover {
    box-shadow: 0 0 4px 1px rgba(91, 128, 93, 0.73);
  }
}

.form-tabs__slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 130px;
  background: linear-gradient(to right, #015d53, #ce5e22);
  border-radius: 30px;
  transition: 0.6s;
  box-shadow: 0 0 5px 2px rgba(91, 128, 93, 0.73);
  opacity: 1;
  //animation: backgroundChange 3s alternate-reverse infinite;
}

.form-tabs__btn {
  position: relative;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 30px;
  outline: none;
  @include fontSize($messageArea, $formFontFamily, black);
  text-transform: uppercase;
  transition: 0.9s;
}

.form-tabs__btn_register {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.form-tabs__btn_sign-in {
  color: #ECEFF1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.form-login {
  top: 0;
  left: 0;
  margin: 60px 30px;
  transition: 0.9s;
}

.form-register {
  top: -259px;
  right: 400px;
  margin: 60px 30px;
  transition: 0.9s;
}

.credentials-form-item {
  position: relative;
  margin-bottom: 32px;
}

.credentials-form-item__checkbox {
  margin: 0 auto 20px;
  @include fontSize($S_FontSize, $formFontFamily, #9e9e9e);
}

.credentials-form-item_input {
  display: none;

}

.credentials-form-item_label {
  cursor: pointer;
  span {
    padding-left: 5px;
  }

  &::before {
    position: absolute;
    left: -26px;
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ce5e22;
    transition: 0.7s;
  }

  &::after {
    position: absolute;
    left: -26px;
    content: '';
    height: 12px;
    width: 24px;
    border-radius: 30px;
    border: solid 0.5px rgba(91, 128, 93, 0.73);
  }
}

.credentials-form-item_input:checked + .credentials-form-item_label:before {
  left: -15px;
  background: #015d53;
  transition: 0.7s;
}

.credentials-form-item_input:checked + .credentials-form-item_label:after {
  border: solid 0.5px rgba(91, 128, 93, 0.73);
  transition: 0.7s;
}

.credentials-form-item__text {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  @include fontSize($M_FontSize, $formFontFamily, black);
  outline: none;
  transition: 0.3s;
  text-overflow: ellipsis;

  &:hover {
    border-bottom: 1px solid #1a73a8;
  }

  &:focus,
  &:not(:placeholder-shown) {
    border-bottom: 1px solid #015d53;;

    & ~ .form__label {
      top: -18px;
      font-size: 12px;
      color: #015d53;
    }
  }
}

.form__label {
  position: absolute;
  left: 15px;
  top: 0;
  color: #9e9e9e;
  transition: 0.3s;

  .fa {
    margin-right: 5px;
  }
}

.form__eye {
  position: absolute;
  right: 0;
  top: 0;

  .func {
    cursor: pointer;
  }

  .func.disabled {
    cursor: not-allowed;
  }

  .hide {
    display: none;
  }
}

.credentials-form__btn {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;
  width: 60%;
  height: 35px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(to right, #015d53, #ce5e22);
  opacity: 1;
  @include fontSize($messageArea, $formFontFamily, white);
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 5px 2px rgba(91, 128, 93, 0.73);
  transition: 0.3s;
}

.credentials-form__btn[disabled] {
  opacity: 0.5;
  box-shadow: none;
}